<!DOCTYPE html>
<html>
<head>
	<title>My Flask App</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
 
</head>
<body>
  <style>
    body {
            font-family: Arial, sans-serif;
          background-color: #e5e5d6;
        }
  </style>
 <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
	<div class="container">
		<h1>Study Site</h1>
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/studytimer">Timer</a></li>
			<li><a href="/todolist">To Do List</a></li>
      <li><a href="/songlist">Song List</a></li>
      <li><a href="/easteregg">Easter Egg</a></li>
	</div>
</body>
  <body1>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/jfKfPfyJRdk" title="YouTube video player" frameborder="0" margin= '100' allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen>
  </iframe>

  </body1>
</html>
